[submodule "awesome-cyclefocus"]
	path = awesome-cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule "revelation"]
	path = revelation
	url = https://github.com/guotsuan/awesome-revelation
[submodule "vicious"]
	path = vicious
	url = https://github.com/Mic92/vicious.git
[submodule "cyclefocus"]
	path = cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule "radical"]
	path = radical
	url = https://github.com/Elv13/radical
[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain.git
